@charset "UTF-8";
:root {
  --color-black: #333333;
  --color-white: #ffffff;
  --color-main: #849aa0; /* 25% */
  --color-base: #d7d5c6; /* 70% */
  --color-accent: #d7ad89; /* 5% */

  --font-mincho: "BIZ UDPMincho", serif;
  --font-en: "IBM Plex Serif", serif;

  @media (min-width: 760px) {
    --is-md: true; /* Medium: ≥ 760px */
  }
}

.sp-none {
  display: none !important;
}

@container style(--is-md) {
  .sp-none {
    display: block !important;
  }

  .pc-none {
    display: none !important;
  }
}

html,
body {
  font-family: var(--font-en);
  color: var(--color-black);
  background-color: var(--color-base);
}

html {
}

body {
  min-height: 100vh;
}

header {
  display: flex;
  position: sticky;
  top: 0;
  padding: 0.5rem 3rem;
  align-items: self-end;
  justify-content: space-between;
  z-index: 10;
}

/* TODO: スマホ表示時のpadding調整 */

a {
  text-decoration: none;
  color: var(--color-black);
}

h1 {
  font-size: 1.25rem;

  @container style(--is-md) {
    font-size: 2.5rem;
  }
}

.nav-wrapper {
}

nav ul {
  display: flex;
  gap: 1.5rem;
}

nav ul li a {
  transition: all 0.2s;
}

nav ul li a:hover {
  color: var(--color-accent);
  transition: all 0.2s;
}

/* スマホ用ナビゲーション */
@media screen and (max-width: 760px) {
  .menu-btn {
    display: none;
  }

  .menu-btn:checked ~ .menu {
    left: 0;
    opacity: 1;
  }

  nav {
    display: block;
    position: fixed;
    top: -3rem;
    right: 0;
    height: 100%;
    width: 100%;
    background: var(--color-main);
    overflow-x: hidden;
    overflow-y: auto;
    transition: all 0.5s;
    z-index: 3;
    opacity: 0;
  }

  .menu-btn:checked ~ nav {
    top: 0;
    opacity: 1;
  }

  nav ul {
    display: block;
    padding: 4rem 3rem;
  }

  nav ul li {
    position: relative;
    margin: 0;
    padding: 0.5rem;
  }

  nav ul li a {
    color: var(--color-white);
    font-size: 1.25rem;
    transition-duration: 0.2s;
  }

  nav ul li a:hover {
    color: var(--color-accent);
  }

  .toggle_btn {
    display: block;
    position: fixed;
    top: 30px;
    right: 3rem;
    width: 30px;
    height: 30px;
    transition: all 0.5s;
    cursor: pointer;
    z-index: 5;
  }

  .toggle_btn span {
    display: block;
    position: absolute;
    left: 0;
    width: 30px;
    height: 2px;
    background-color: var(--color-black);
    border-radius: 4px;
    transition: all 0.5s;
  }

  .toggle_btn span:nth-child(1) {
    top: 4px;
  }

  .toggle_btn span:nth-child(2) {
    top: 14px;
  }

  .toggle_btn span:nth-child(3) {
    bottom: 4px;
  }

  .menu-btn:checked ~ .toggle_btn span {
    background-color: var(--color-white);
  }

  .menu-btn:checked ~ .toggle_btn span:nth-child(1) {
    transform: translateY(10px) rotate(-315deg);
  }

  .menu-btn:checked ~ .toggle_btn span:nth-child(2) {
    opacity: 0;
  }

  .menu-btn:checked ~ .toggle_btn span:nth-child(3) {
    transform: translateY(-10px) rotate(315deg);
  }

  #mask {
    display: none;
  }

  .menu-btn:checked ~ #mask {
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: var(--color-main);
    z-index: 2;
    cursor: pointer;
  }
}

.main {
}

.section {
}

.content-area {
  padding: 0 1.5rem;

  @container style(--is-md) {
    padding: 0 7rem;
  }
}

.hero {
  display: flex;
  width: 100vw;
  height: 90vh;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.hero h1 {
  transform: translateY(-2rem);
  color: var(--color-main);
}

.hero__arrow {
  display: inline-block;
  width: 24px;
  height: 24px;
  margin: 0 10px;
  border-bottom: 2px solid var(--color-main);
  border-right: 2px solid var(--color-main);
  border-radius: 2px;
  transform: rotate(45deg);
}

.hero__arrow-wrapper {
  animation: 3s ease-in-out float infinite;
}

@keyframes float {
  0% {
    transform: translateY(0rem);
  }
  50% {
    transform: translateY(2rem);
  }
  100% {
    transform: translateY(0rem);
  }
}

.about {
}

.work {
}

.contact {
}

footer {
}
